<?xml version="1.0" encoding="UTF-8"?>
<config>
  <printers>
    <printer name="Robostorm" ip="" port="5000" apiKey="" file="config/slic3r/mendel.ini" active="true" />
    <printer name="Tim" ip="" port="5000" apiKey="" file="config/slic3r/mendel.ini" active="true" />
    <printer name="Ben" ip="" port="5000" apiKey="" file="config/slic3r/mendel.ini" active="false" />
    <printer name="Mike" ip="" port="5000" apiKey="" file="config/slic3r/mendel.ini" active="false" />
  </printers>
</config>
