
/* 
    Created on : May 31, 2015, 6:47:14 PM
    Author     : tim
*/

.root{
    -fx-background-color: #4BB648;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.label{
    -fx-font-family: "Sans-Serif";
}

#nameHeading{
    -fx-font-size: 40px;
}

#printerHeading{
    -fx-font-size: 40px;
}

.text-field{
    -fx-background-color: #33CC33;
    -fx-alignment: center;
    -fx-font-family: "Sans-Serif";
}

#nameField{
    -fx-font-size: 40px;
    -fx-background-radius: 10;
}

.button{
    -fx-background-color: #33CC33;
}

.button:hover{
    -fx-background-color: yellow;
}

/*
#{
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
}
*/

#buttonBar{
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-spacing: 50;
}