<!DOCTYPE html>
<html>
  <head>
    <title>Nametag Manager</title>
    <link rel="stylesheet" type="text/css" href="assets/static/css/styles.css">
  </head>
  <body>

    <nav>
      <img src="assets/images/icon.png"/>
      <span class="btn" onclick="showBoth()">Nametags and Printers</span>
      <span class="btn" onclick="showNametags()">Nametags</span>
      <span class="btn" onclick="showPrinters()">Printers</span>

      <span class="btn" onclick="startManaging()">Start Manager</span>
      <span class="btn" onclick="stopManaging()">Stop Manager</span>
      <span class="label" id="managerState">ss</span>
    </nav>

    <div id="printers">
      <h2>Printers</h2>
      <table id="printerTable"></table>
    </div>

    <div id="nametags">
      <h2>Nametag Queue</h2>
      <table id="nametagTable"></table>
    </div>

    <script src="assets/static/js/manager.js" charset="utf-8"></script>

  </body>
</html>
