<!DOCTYPE html>
<html>
  <head>
    <title>Nametag Manager</title>

    <script src="assets/static/js/jquery.js"></script>
		<script src="assets/static/js/underscore.js"></script>
		<script src="assets/static/js/backbone.js"></script>
		<script src="assets/static/js/backgrid.js"></script>

    <link rel="stylesheet" href="assets/static/css/backgrid.css" type="text/css" media="screen">

    <link rel="stylesheet" type="text/css" href="assets/static/css/styles.css">

  </head>
  <body>

    <nav>
      <img src="assets/images/icon.png"/>

      <span class="label" id="managerState">Loading...</span>
      <span class="label" id="currentCommand"></span>
    </nav>

    <span id="nametags">
      <h2>Nametags</h2>
      <div id="nametagTable" class="backgrid-container"></div>
    </div>

    <script src="assets/static/js/queue.js" charset="utf-8"></script>

  </body>
</html>
